{% extends 'base.html' %}

{% block easterncape %}
<body>
    <!--Main layout-->
    <main class="mt-5 pt-5">
         <div class="container">

        <div class="jumbotron-fluid">
            {% load static %}<img src="{% static 'img/Eastern Cape.png'%}" width="100%"/>
        </div>
    </div>

    <hr class="mb-4">
        <div class="container">



            <!--Section: Images-->
            <section class="text-center">


                <div class="row">


                    <div class="hov col-lg-4 col-md-12 mb-3" data-toggle="modal" data-target="#m26">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-eastern-cape-wild-coast.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                 <div class="card-body">
                                    <h5 class="card-title">The Wild Coast</h5>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="hov col-lg-4 col-md-6 mb-3" data-toggle="modal" data-target="#m27">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-eastern-cape-addo-elephant-national-park.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                 <div class="card-body">
                                    <h5 class="card-title">Addo Elephant Park</h5>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="hov col-lg-4 col-md-6 mb-3" data-toggle="modal" data-target="#m28">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-eastern-cape-storms-river-suspension-bridge.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Storms River Suspension Bridge</h5>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>



                <div class="row">

                    <div class="hov col-md-6 mb-3" data-toggle="modal" data-target="#m29">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-eastern-cape-grahamstown.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Grahamstown: Settler Country</h5>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="hov col-md-6 mb-3" data-toggle="modal" data-target="#m30">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/wpimages/2019/08/south-africa-eastern-cape-top-attractions-bloukrans-bridge-bungee-jump.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Bloukrans Bridge Bungee Jump</h5>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>

            </section>
            <!--Card Images-->

            <div id="m26" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">The Wild Coast</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                                <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=the%20wild%20coast%20eastern%20cape&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                                <p>Stretching north of East London, South Africa's Wild Coast is a land of spectacular
                                beauty. Craggy sea cliffs, wind-whipped beaches, subtropical forests, and hills cloaked
                                in golden grass characterize this untamed wilderness, which skirts the Eastern Cape's
                                northern coast, from the Mtamvuna River in the north to the Great Kei River in the
                                south.

                                The Wild Coast is the ancestral home of the Xhosa people, as well as other tribes whose
                                villages dapple the landscapes. During the apartheid era, the Wild Coast was part of the
                                Transkei, one of four territories declared independent from South Africa, until it
                                merged with the Eastern Cape province in 1994.

                                The best way to explore this rugged and remote region is by 4WD vehicle, but adventurous
                                travelers can also hike along walking tracks connecting the local villages or explore
                                the area on horseback. Tourist highlights in the region include the popular Inkwenkwezi
                                Private Game Reserve and the Hole in the Wall, a natural arch carved by thrashing surf.

                                Many travelers base themselves at towns such as Coffee Bay, Port St. Johns, Chintsa, and
                                Morgan Bay and venture out into the surrounding wilderness for outdoor fun such as ocean
                                and river fishing, diving and snorkeling along the reefs and shipwrecks, and wildlife
                                watching in the many nature reserves. Birding is also fantastic with more than 320
                                species recorded in the region.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m27" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Addo Elephant Park</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                             <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJY2nuzYRPex4RCsT--8cm454&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                                <p>About 72 kilometers north of Port Elizabeth, Addo Elephant National Park is the third
                                largest national park in South Africa. It was founded in 1931 to save the last 11 South
                                African bush elephants from extinction, and today provides a habitat for more than 600
                                elephants, as well as a host of other fascinating creatures.

                                Stretching from the Karoo to the coast, the park also includes offshore islands, which
                                are home to important breeding populations of Cape gannets and African penguins. Thanks
                                to its diversity of ecosystems, the park's claim to fame is that it's the only national
                                park in the world to protect the Big 7-the Big 5 (elephant, rhino, Cape buffalo, lion,
                                and leopard) as well as the great white shark and southern right whale.

                                Wildlife lovers can also spot zebras, antelope, an impressive array of birds, and
                                nocturnal animals such as porcupines, anteaters, and bush pigs. As well as guided day
                                and nighttime game drives, visitors can enjoy other adventures such as horseback riding
                                and hiking trails.

                                The park welcomes day visitors who can choose to explore the wilderness in their own
                                vehicles or opt for a guided tour. For overnight visitors, accommodation is available in
                                cottages, chalets, or campsites.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m28" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Storms River Suspension Bridge</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                                <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=the%20storms%20river%20suspension%20bridge&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                                <p>Along the famous Garden Route, a 200-kilometer-plus scenic drive, which stretches from
                                the Eastern Cape to the Western Cape, the Storms River Suspension Bridge is one of the
                                most popular attractions in Tsitsikamma National Park, a spectacular coastal reserve
                                that is now part of Garden Route National Park.

                                The 77-meter-long bridge spans the foaming, froth-topped waters of the Storms River
                                mouth, which swirl and splash less than seven meters below the bridge as they merge with
                                the Indian Ocean. Standing on the bridge, visitors feel as though they are floating
                                above the thrashing sea.

                                To access the bridge, visitors hike through 900 meters of beautiful bird-rich forests
                                with waterfalls and plenty of lookout points to stop and rest while admiring the sea
                                views. Two smaller suspension bridges lead hikers back to the pathway for their return
                                journey. After the rewarding walk, which takes about 30 minutes each way, hungry hikers
                                can refuel at the nearby lodge restaurant.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m29" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Grahamstown: Settler Country</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJk-SiUBxCZB4R5FrH6IT9l_o&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>In a sheltered basin 60 kilometers from the south coast and half way between Port
                                Elizabeth and East London, historic Grahamstown is the capital of Settler Country, where
                                white settlers battled the Xhosa in the early 19th century. Despite its turbulent
                                history, today Grahamstown is a vibrant cultural center thanks to Rhodes University and
                                its many other educational institutions. The Grahamstown Arts Festival, famed throughout
                                South Africa, is held annually at the end of June, when the town becomes a gigantic
                                stage hosting an impressive lineup of cultural events.

                                Grahamstown is also often called the "city of saints," due to its many churches, which
                                are said to number more than 40. The queen of them all is the splendid Cathedral of St.
                                Michael and St. George with the tallest spire in South Africa.

                                To learn about the town's history, visitors should stop by the Observatory Museum, with
                                a Victorian-style interior and displays of old furniture and antique telescopes. The
                                camera obscura here, still the only one in South Africa, shows an image of the town and
                                its surroundings in clear weather.

                                Another top tourist attraction here is the Settlers Monument, a modern cultural center
                                opened in 1974, which is the venue of the popular Arts Festival. A bronze monument at
                                the entrance depicts a settler family in typical early 19th-century dress.

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m30"  class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Bloukrans Bridge Bungee Jump</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJW43udb8WeR4RZ2YLuDV3oG8&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>Located right at the border of the Eastern and Western Cape provinces near the town of
                                Nature's Valley on the Garden Route, the Bloukrans Bridge is South Africa's most famous
                                spot for bungee jumping. Spanning the Bloukrans River below, the arch bridge was
                                constructed in the early 1980s and is the highest of its kind in the country.

                                The Bloukrans bungee jump is the highest commercial bungee jumping operation in the
                                world at 216 meters-more than 700 feet. Jumping is quite an adrenalin rush, but the
                                operation, run by Face Adrenalin, is also very safety focused. You will be wearing a
                                full body harness with an ankle connection to minimize possibilities of injury.

                                If you aren't quite ready to take the leap but still want to feel a little adrenaline
                                buzz, you can follow the walkway under the bridge to the bungee platform. Walking along,
                                you'll get a sense of the height of the bridge without plunging off it. This is also a
                                good spot to cheer on braver friends or family members.

                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
    <!--Main layout-->

</body>
{% endblock easterncape %}