{% extends 'base.html' %}

{% block kwazulu %}
<body>

    <!--Main layout-->
    <main class="mt-5 pt-5">

         <div class="container">

        <div class="jumbotron-fluid">
            {% load static %}<img src="{% static 'img/Kwazulu.png'%}" width="100%"/>
        </div>
    </div>

    <hr class="mb-4">
        <div class="container">



            <!--Images-->
            <section class="text-center">

                <div class="row">


                    <div class="hov col-lg-4 col-md-12 mb-3" data-toggle="modal" data-target="#m41">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-kwazulu-natal-drakensberg.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">The Drakensberg</h5>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="hov col-lg-4 col-md-6 mb-3" data-toggle="modal" data-target="#m42">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/wpimages/2019/07/south-africa-kwazulu-natal-top-attractions-nelson-mandela-capture-site.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Nelson Mandela Capture Site</h5>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="hov col-lg-4 col-md-6 mb-3" data-toggle="modal" data-target="#m43">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-kwazulu-natal-isandlwana.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">KwaZulu-Natal Battlefields Route</h5>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>



                <div class="row">

                    <div class="hov col-md-6 mb-3" data-toggle="modal" data-target="#m44">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/wpimages/2019/07/south-africa-kwazulu-natal-top-attractions-durbans-golden-mile.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                 <div class="card-body">
                                    <h5 class="card-title">Durban's Golden Mile</h5>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="hov col-md-6 mb-3" data-toggle="modal" data-target="#m45">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-kwazulu-natal-cheetah.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title"> Kwa Cheetah Breeding Project</h5>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>


            </section>
            <!--Section: Images-->

            <div id="m41" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">The Drakensberg</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJFbfkm3_d7R4RvsjLQsqJHWQ&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                                <p>The Drakensberg, from an Afrikaans word meaning "Dragon Mountains," is a place of
                                breathtaking beauty and one of the most popular destinations in the country.
                                Jagged-backed peaks rise above dense forests and deep valleys, and cascades feed clear
                                mountain streams. This spectacular region includes uKhahlamba-Drakensberg Park, a UNESCO
                                World Heritage Site with soaring basalt peaks that are some of the highest in the
                                country and San (Bushmen) rock paintings, as well as Royal Natal National Park with the
                                Amphitheatre, a five-kilometer-long rock wall with one of the world's highest waterfalls
                                tumbling from above.

                                The 3,282-meter-high Mont-aux-Sources rises beyond, and is the source for some of the
                                nation's mighty rivers. Nearby, visitors can see herds of eland, bearded vultures, and
                                superb Bushman rock paintings in Giant's Castle Game Reserve.

                                Another highlight of the region is Cathedral Peak with some of the region's most
                                beautiful mountain scenery. This area is also home to the venerable Cathedral Peak
                                Hotel, which has been pampering guests since 1939. Outdoor enthusiasts come to these
                                velvety green mountains to fly-fish for trout, hike and bike the wilderness trails, rock
                                climb, abseil, and raft the mountain rivers. To best appreciate the dramatic landscapes,
                                visitors can soar over the area in a hot air balloon. </p>
                        </div>
                    </div>
                </div>
            </div>

             <div id="m42" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Nelson Mandela Capture Site</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJTzCEsQKq9h4RPYfvw37zmME&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                                <p>The Nelson Mandela Capture Site marks the spot where Mandela was arrested on August 5,
                                1962. Although not his first arrest, this one led to his incarceration for the next 27
                                years. The site consists of a visitor center and an impressive sculpture that was
                                erected at the spot near the town of Howick in 2012, which was the 50th anniversary of
                                Mandela's arrest.

                                The 3D-style sculpture is the creation of artist Marco Cianfanelli and is made up of 50
                                steel poles between five and nine meters tall. They have been arranged in the ground to
                                recreate an image of Mandela's face when seen from a certain distance. Up close, the
                                image disappears, and you just see steel beams planted in the landscape, which is part
                                of the artist's concept. There is also a visitor's center museum at the site and some
                                stalls selling colorful handicrafts.

                                The Capture Site is located just outside of Howick off the N3 highway that runs from
                                Durban to Johannesburg. Take the Tweedie turnoff to Lions River and make a right onto
                                the R103. From here, follow the signs.

                                Address: Mandela Capture Site, R103, Howick, 3290</p>
                        </div>
                    </div>
                </div>
            </div>

             <div id="m43"  class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">KwaZulu-Natal Battlefields Route</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                                <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJC_jQaQk58R4REYKt1cOO4Rw&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                                <p>During the 19th century, central Zululand, now part of KwaZulu-Natal, was the site of
                                many historic battles between the Zulus, Boers, and British. Today, sightseers can
                                explore this rich history on the Battlefields Route. Knowledgeable guides take visitors
                                to see battle sites, museums, memorials, and forts and share fascinating details and
                                descriptions of these historic events.

                                Two of the most famous battlefields lie a short drive from each other: At Isandlwana,
                                visitors will learn about the clash between 22,000 Zulu warriors who prevailed against
                                1,350 British troops in one of the first battles of the Anglo-Zulu War. About 16
                                kilometers from here, Rorke's Drift is the site where British troops defended a mission
                                station from the attack of more than 3,000 Zulu warriors.

                                Vryheid is the largest town on the Northern Natal Battlefields Route, and takes in the
                                scene of clashes between British forces and Zulus and between British forces and the
                                Boers. Blood River Heritage Site is another popular Zulu-Voortrekker battle site near
                                the town of Dundee. After the annexation of Zululand and its incorporation in the
                                province of Natal, the British authorities built a number of forts in the region,
                                including Fort Nongqai in Eshowe.</p>
                        </div>
                    </div>
                </div>
            </div>

             <div id="m44" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Durban's Golden Mile</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJf9ljPrap9x4R8jaWSdRsG3U&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>Durban, South Africa's third largest city, is a multicultural melting pot. A great way to
                                get a feel for this salt-tinged port city is to take a stroll along Durban's Golden
                                Mile, a busy beachfront promenade connecting some of the city's top tourist attractions.
                                Entertainment venues, high-rise hotels, shops, and restaurants line this sun-splashed
                                strip, and the golden beaches here lure surfers, swimmers, and sun bathers.

                                Segway tours offer a speedy way to zip between the attractions here, which include Moses
                                Mabhida Stadium; uShaka Marine World; and Mini Town, a tiny replica of Durban complete
                                with a miniature airport, rail network, and harbor scene. Lifeguards patrol the beaches
                                year-round.</p>
                        </div>
                    </div>
                </div>
            </div>

             <div id="m45" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Kwa Cheetah Breeding Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ00AxU_w88h4RRwrz5DcmU8s&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>At the Kwa Cheetah Breeding Project, inside the gates of Nambiti Private Game Reserve,
                                animal lovers can enjoy exhilarating hands-on interactions with these graceful creatures
                                and help out a worthwhile cause at the same time. The experience begins with an
                                educational presentation about the plight of the cheetah. Visitors are then able to pat
                                the animals, take photos with them, and watch a demonstration of their incredible speed.

                                Depending on the residents at the time, visitors may also see other cats such as
                                servals, caracals, and African wildcats. The successful captive breeding program here
                                seeks to increase the cheetahs' gene pool and prepare the animals for a life in the
                                wild. The project only runs one tour a day to protect the animals from excessive stress,
                                so advance bookings are highly recommended.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Main layout-->


</body>
{% endblock kwazulu %}