{% extends 'base.html' %}

{% block northwest %}
<body>
    <!--Main layout-->
    <main class="mt-5 pt-5">
         <div class="container">

        <div class="jumbotron-fluid">
            {% load static %}<img src="{% static 'img/North.png'%}" width="100%"/>
        </div>
    </div>

    <hr class="mb-4">
        <div class="container">



            <!--Section: Images-->
            <section class="text-center">

                <div class="row">


                    <div class="hov col-lg-4 col-md-12 mb-3" data-toggle="modal" data-target="#m36">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.roomsforafrica.com/images/hartbeespoort_sunset.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Hartbeesport Dam</h5>
                                </div>
                            </a>
                        </div>

                    </div>



                    <div class="hov col-lg-4 col-md-6 mb-3" data-toggle="modal" data-target="#m37">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.roomsforafrica.com/images/pilanesberg_lost_city_aerial_view_or_pool.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                 <div class="card-body">
                                    <h5 class="card-title">Sun City</h5>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="hov col-lg-4 col-md-6 mb-3" data-toggle="modal" data-target="#m38">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.sa-venues.com/attractions/gallery/northwest/145/1.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">lesedi Cultural Village</h5>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>



                <div class="row">


                    <div class="hov col-md-6 mb-3" data-toggle="modal" data-target="#m39">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.roomsforafrica.com/images/Northwest_Southern_Region_Klerksdorp_Museum.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Klerksdorp Museum</h5>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="hov col-md-6 mb-3" data-toggle="modal" data-target="#m40">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.roomsforafrica.com/images/Northwest_Southern_Region_Orkney_Golf_Club_course.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Orkney Golf Club</h5>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>

            </section>
            <!--Section: Images-->

            <div id="m36"  class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Hartbeesport Dam</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJq3IBab4rvh4R2lC-ms_qhq0&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>Situated amongst the Magaliesburg Mountain Range, Hartbeespoort Dam is a popular getaway
                                for those looking to enjoy the outdoor beauty of the Highveld. Water sports enthusiasts
                                can enjoy water skiing, windsurfing, and jet skiing on the dam. This geologically
                                beautiful area offers many scenic hikes of varying difficulty amongst the Magaliesburg
                                Mountains.

                                The Crocodile Ramble is an arts and crafts route in the area for those wanting to spend
                                a lazy day shopping and lunching in the Highveld sunshine.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div id="m37"  class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Sun City</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJUacceWMJvh4ReSC36kApoNk&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>Situated in an extinct volcano, just two hours from Johannesburg, is the Sun City Resort.
                                The Resort features four hotels including the Palace of the Lost City, a glorious
                                African fantasy world filled with waterfalls and tumbling gardens. Sun City features the
                                most advanced water park in South Africa, the Valley of the Waves.

                                There are two international 18 hole golf courses in the Resort including the Gary Player
                                Country Club which hosts the annual Nebank Challenge. Next to the Resort is the
                                Pilanesburg National Park where you can view the Big 5.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m38" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Lesedi Cultural Village</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9x2CXICAlR4R67hJpPSfkts&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>Just an hour away from Johannesburg in the Cradle of Humankind is the Lesedi Cultural
                                Village. If you’re looking to experience and understand the rich and diverse cultures of
                                South Africa, this is the perfect place to go.

                                Learn about the Zulu, Xhosa, Pedi, Basotho, and Ndebele with different sections of the
                                village devoted to each cultural group. Representatives from each of the tribes were
                                involved in the building of the different cultural villages, and much care was taken in
                                order to make sure that each representation is as historically correct as possible.
                                Members from the different communities now live in Lesedi, helping to breathe life into
                                their cultures.

                                Guests to the Lesedi Cultural Village are treated to a tour of the five different
                                cultural areas, as well as traditional food and dancing. The aim of the village is to
                                highlight the differences in the cultures and to showcase to a wider audience the
                                interesting and beautiful cultures of South Africa.

                                Kingsley Holgate, the famous National Geographic Explorer, is one of the directors of
                                the Lesedi Cultural Village and is passionate about preserving African cultures in a
                                world that is becoming more and more Westernised.

                                Visitors are able to enjoy the music, song and warmth of Africa, and get to explore the
                                different cultures of South Africa and learn about their interesting histories and
                                traditions.

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m39" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Klerksdorp Museum</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJIdiq9Jrxlh4RBI8P721OZH4&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>Located in the suburb of Pienaarsdorp in Klerksdorp, this museum is comprised of a number
                                of beautiful sandstone buildings, which were previously a prison. The main building was
                                completed in 1891.

                                Found on the corners of Margarieta Prinsloo and Lombard Street, the museum exhibits the
                                early town life, social history and geological history of this area. The most famous
                                exhibit here is the Klerksdorp spheres display – these small stones were found in 3
                                billion year old pyropyllite rock deposits.

                                If you are interested in visiting some of the nearby heritage sites and gold mine, this
                                can be arranged through the museum.

                                For more info, call +27 (0) 18 462 3546</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m40" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg"  role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Orkney Golf Club</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJB5RoBcnulh4RIa7xNoMnNf0&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>This 18 hole golf course was officially opened in 1939. It was originally a 9-hole course
                                and the second 9 were only introduced in the mid-forties. It was built by the famous
                                golf club architect Bob Grimsdell.

                                Orkney has produced top stars such as Simon Hobday and Jannie Le Grange. There have been
                                many long standing trophies here, including the Pollak Cup, Directors Cup and Haggard
                                Cup.

                                Conference facilities are available for hire which can accommodate 50 people, as well as
                                a function hall which is ideal for weddings, year-end functions, parties and other
                                special events. The function hall can accommodate about 200 people.

                                There is a restaurant on the premises, with a big screen, pool table and bar. There is
                                also a fully stocked pro-shop with a wide range of impressive products and gear.

                                Dress code is smart casual.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Main layout-->

</body>
{% endblock northwest %}