{% extends 'base.html' %}

{% block northerncape %}
<body>

    <!--Main layout-->
    <main class="mt-5 pt-5">
         <div class="container">

        <div class="jumbotron-fluid">
            {% load static %}<img src="{% static 'img/Northern Cape.png'%}" width="100%"/>
        </div>
    </div>

    <hr class="mb-4">
        <div class="container">



            <!--Section: Images-->
            <section class="text-center">


                <div class="row">


                    <div class="hov col-lg-4 col-md-12 mb-3" data-toggle="modal" data-target="#m31">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-northern-cape-big-hole.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                 <div class="card-body">
                                    <h5 class="card-title">The Big Hole, Kimberley</h5>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="hov col-lg-4 col-md-6 mb-3" data-toggle="modal" data-target="#m32">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-northern-cape-kimberley-mine-museum.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                 <div class="card-body">
                                    <h5 class="card-title">The Kimberley Mine Museum</h5>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="hov col-lg-4 col-md-6 mb-3" data-toggle="modal" data-target="#m33">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-northern-cape-namaqualand.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                 <div class="card-body">
                                    <h5 class="card-title">Goegap Nature Reserve</h5>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>



                <div class="row">


                    <div class="hov col-md-6 mb-3" data-toggle="modal" data-target="#m34">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-northern-cape-augrabies-falls.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Augrabies Falls National Park</h5>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="hov col-md-6 mb-3" data-toggle="modal" data-target="#m35">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://www.planetware.com/photos-large/SAF/south-africa-northern-cape-dunluce.jpg" class="card-img-top" alt="">
                            <a>
                                <div class="mask rgba-white-light"></div>
                                <div class="card-body">
                                    <h5 class="card-title">Belgravia Historic Walk</h5>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

            </section>
            <!--Section: Images-->

            <div id="m31" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">The Big Hole, Kimberley</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=the%20big%20hole&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>The capital of the Northern Cape and once the world's diamond capital, Kimberley lies on
                                the boundary between the Northern Cape Province and the Orange Free State and is a
                                convenient stopover on the road from Cape Town to Johannesburg. Kimberley is known as
                                the Diamond City, as this is the place where the foundations of South Africa's wealth
                                were laid during the heady diamond rush days of the 1870s.

                                In 1871, prospectors struck it lucky on a farm belonging to the de Beer brothers and on
                                a neighboring hill. Today, that area is known as The Big Hole. The size of eight
                                football fields, this is the world's largest man-made hole and one of Kimberley's main
                                tourist attractions. Between 1871 and 1914, 22.6 million tons of earth and rock were
                                excavated from the mine for a yield of 14.5 million carats of diamonds.

                                Visitors peer down from a viewing platform into the mine, now filled with water, and
                                picture what it was like when thousands of men toiled here, hauling the rock up to the
                                surface with cables. Afterwards, a visit to the Mine Museum takes visitors on a journey
                                back through the heady diamond rush days.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m32" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">The Kimberley Mine Museum</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=the%20Kimberley%20mine%20museum&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>On the west side of the Big Hole is the open-air Kimberley Mine Museum, a village of
                                almost 50 buildings, some original and some reproductions, representing Kimberley during
                                the diamond rush days. Sightseers can tour some of the houses, which are furnished in
                                the style of the time.

                                The first church built in Kimberley was the German Lutheran church of St. Martin (1875).
                                Kimberley's oldest house, however, dates only from 1877; it was built of prefabricated
                                parts imported from Britain: a residence of extraordinary luxury at a time when everyone
                                else was living in tents.

                                Other houses, shops, and workshops line a cobbled street. The Mining Hall displays a
                                collection of photographs and documents from diamond rush days. Opposite, is the Diamond
                                Hall, with a 616-carat diamond, one of the largest uncut diamonds in the world, and the
                                Eureka, the first diamond discovered in South Africa. A restored tramcar from 1913
                                carries visitors between the Neoclassical City Hall (circa 1899) and the Big Hole and
                                museum.

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m33" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Goegap Nature Reserve</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJH1lgxeV_ORwR1O6OT8t_CdU&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>In the big-sky semi-desert of Namaqualand, Goegap Nature Reserve offers fun 4WD tracks
                                and stunning displays of wildflowers in the spring. This 15,000-hectare reserve is worth
                                visiting even when the wildflowers aren't in bloom. The vegetation is typical of
                                Namaqualand, with succulents; shrubs; and bizarre quiver trees or kokerboom trees, a
                                type of branched aloe.

                                The park also protects animals that are specially adapted to the parched conditions,
                                including antelopes, the endangered Hartmann's zebra, aardwolf, honey badgers, and more
                                than 94 species of birds.

                                In the spring, the arid landscapes erupt in an impossible blaze of colorful blooms that
                                delight avid photographers. Rainfall and temperature variations influence the types of
                                flowers in bloom, surprising visitors with different color combinations each year.

                                Besides photography, popular things to do here include hiking on the varied trails,
                                mountain biking, and stargazing at the crystal clear night skies. Campsites and basic
                                accommodation is available within the park.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m34" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Augrabies Falls National Park</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJB8QFrFN7IxwRp8RFSc2OQOA&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>The Augrabies Falls, near the frontier with Namibia, are one of the country's great
                                natural wonders. Here, the Orange River plunges in a series of cascades almost 150
                                meters wide into an 18-kilometer granite gorge enclosed by soaring rock walls. In the
                                language of the Hottentots, who held the falls in awe as a sacred place, the name
                                Augrabies means "place of the great noise," and indeed the falls, which rank among the
                                six largest in the world, justify their name.

                                The national park, established in 1967 to protect the falls, is a region of extreme
                                aridity with sparse vegetation, consisting mainly of euphorbias and kokerboom or quiver
                                trees. Among the animals living here are klipspringer; porcupines; leopards; baboons;
                                vervet monkeys; and more than 140 species of birds, including Verreaux's eagle, which is
                                frequently seen at the falls.

                                The 26-kilometer-long Klipspringer Hiking Trail through the gorge takes about three days
                                with overnight accommodation in huts. In summer, the trail is closed because of the
                                heat, however this is the best time to see the falls-particularly in late summer when
                                the river swells with water. Other highlights include Moon Rock, and the scenic
                                viewpoints Oranjekom, Ararat, and Echo Corner. Accommodation is available in campsites
                                and well-equipped chalets.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="m35" class="modal fade exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title exampleModalLabel">Belgravia Historic Walk</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="map-responsive">
                            <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJfRic2bobmx4RXAz8551pXAA&key=AIzaSyBso0VlLHb_o_Fot8WfDee8tsg1koNFP_8" allowfullscreen></iframe>
                            </div>
                            <p>Graced by the grand homes of former mining merchants and magnates, Belgravia is the
                                upscale residential area near Kimberley's old diamond mines. Today, visitors can step
                                back in time and see some of these beautiful old Victorian villas on the Belgravia
                                Historic Walk. The walk visits 30 historic sites and begins at the McGregor Museum,
                                which offers a great overview of the area's history, and was the former temporary
                                residence of imperialist Cecil John Rhodes.

                                Highlights along the walk include Dunluce, an outstanding example of Late Victorian
                                architecture dating from 1897, and Rudd House, once the home of the mining magnate H. P.
                                Rudd, whose father was a friend and business partner of Cecil Rhodes. Both of these
                                houses are attached to the McGregor Museum and can be toured by appointment. In the
                                13-story Harry Oppenheimer Building (1974), designed by the German architect H.
                                Hentrich, all diamonds found in South Africa are graded.

                                Also on the tour, the Duggan Cronin Gallery contains a unique collection of photographs
                                of the native people of South Africa, taken by A.M. Duggan Cronin between 1919 and 1939.
                                Some of the traditional tribal rites depicted can never be photographed again.

                                The William Humphreys Art Gallery opened in 1952 and displays works by Dutch, Flemish,
                                British, and French masters, as well as South African artists.

                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <!--Main layout-->

</body>
{% endblock northerncape %}