html, body
{padding:0;
 margin:0;
  height:100%;
 transition: all 0.4s ease-out;
  font-family: 'Montserrat' sans-serif;

  }
/*
.navbar{
background-color:#acd8d9;
}

.navbar-nav{
    text-decoration: none;
    color: #000000;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
}


.navbar-brand{
    text-decoration: none;
    color: #acd8d9;
    font-size: 1.8em;
    text-transform: uppercase;
    margin-left:40px;
}

.hello-msg{
 font-size: 18px;
 color:#000;
 margin-right:5px;
     display: inline-block;

}
*/
/* index boxes */
.gallery.box{
  width: 300px;
  height:405px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1%;
}

.gallery .card{
	position: relative;
}

.image{
  height: 405px;
  width: 100%;
}

.gallery .column{
  width: 20%;
  float: left;
}

.gallery .column.col1{
  background-color: #325C7D;
}

.gallery .column.col2{
  background-color: #6C5B7B;
}

.gallery .column.col3{
  background-color: #C26D85;
}

.gallery .column.col4{
  background-color: #EB7180;
}
.gallery .column.col5{
  background-color: #F5B195;
}

.gallery .overlay{
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	opacity: 0;
  background-color: #000;
	-webkit-transition: opacity 0.35s;
	-o-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.gallery .info,
.gallery .foot{
	-webkit-transition: bottom 0.35s;
	-o-transition: bottom 0.35s;
	transition: bottom 0.35s;
}

.gallery .info{
	position: absolute;
	bottom: -20px;
	width: 100%;
}

.gallery .info h2 a{
  color: #fff;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-decoration:none;
}

.gallery .info h2{
	line-height: 24px;
	font-size: 18px;
  padding: 0 10px;
  font-weight: 400;
}

.gallery .foot{
	height: 35px;
	bottom: -35px;
	position: relative;
	color: #fff;
  padding: 0 10px;

}

.gallery .foot .social{
	float: right;
	color: #fff;
	font-size: 20px;
	margin-left: 20px;
}

.gallery .foot .line{
	height: 2px;
	display: block;
	margin: 10px 0;
  background-color: #fff;
  margin-top: 20px;
  width: 0%;
  transition: width 0.6s;
}

.gallery .date{
  font-weight: 300;
}

.gallery .fa-camera-retro{
  top: 0;
  left: 0;
  padding: 10px 10px;
  position: absolute;
  color: #fff;
  font-size: 24px;
  z-index: 1;
  transition: font-size 0.35s;
}

/*  hovers  */
.gallery:hover .info,
.gallery:hover .foot{
	bottom:10px;
}

.gallery:hover .overlay{
	opacity: 0.5;
}

.gallery:hover .foot .line{
  width: 100%;
}

.gallery:hover .fa-camera-retro{
  font-size:32px;
}

/* end index boxes */
/* packages */

.card10 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    border: transparent;
}

.cd {
    width: 80%;
    position: relative;
    margin-bottom:80px;
}

.cd .card {
    position: relative;
    border-radius: 10px;
    background-color: transparent;
    margin-top:40px;

}

.cd .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.cd .card:nth-child(1) .icon {
    background: url("/static/img/hot-stone.jpg");
    background-repeat: no-repeat;
    background-size: contain

}

.cd .card:nth-child(2) .icon {
   background: url("/static/img/flowers.jpg");
   background-repeat: no-repeat;
   background-size: contain
}

.cd .card:nth-child(3) .icon {
   background: url("/static/img/mask.jpg");
   background-repeat: no-repeat;
   background-size: contain
}

.cd .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.cd .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.cd .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.cd .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.cd .card:hover .face.face1 .content {
    opacity: 1;
}

.cd .card .face.face1 .content i{
    max-width: 100px;
}

.cd .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.cd .card:hover .face.face2{
    transform: translateY(0);
}

.cd .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.cd .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.cd a {
    text-decoration: none;
    color: #414141;
}

.na{
border: 2px solid #D0B49F;

}
.na:hover{
background-color: #D0B49F;
}

.ba{
background-color:#D0B49F;
}

.ba:hover{
background-color:#fff;
border: 2px solid #D0B49F;
}

.la{
border: 2px solid #D0B49F;
}

.la:hover{
background-color: #D0B49F;
}

/* end packages */

/* booking form */

#booking {

	background-position: center;
	 background-size: cover;
	 padding-top:200px;
	 padding-bottom:200px;
	 margin-bottom:0;

}
.booking {
object-fit:contain;
position:relative;
   right: 0px;
   height: 100%;
}

.booking-form {
	background-color: #fff;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.booking_form {
	background-color: #fff;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	padding: 20px 20px;
}




.booking1 {
object-fit:contain;
position:relative;
   right: 0px;
   height: 100%;
   padding:80px;
}


.form{
padding:20px 20px;

}

.booking-form .form-group-text {
	position: relative;
	margin-bottom: 30px;

}

.booking-form .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(62, 72, 92, 0.3);
	font-size: 14px;
}


.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}


.booking-cta {
	margin-top: 80px;
	margin-bottom: 30px;
	color:#000000;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.booking-cta p {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
}

/* end booking form */


.testimonial {
background-color:#D0B49F;
  float: left;
  width: 100%;
  color: #52565b;
}

.testimonial .section-title h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
}

#testimonial blockquote {
  border-left: none;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

#testimonial blockquote:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -12px;
  left: 10%;
}

#testimonial .author {
  margin-bottom: 0;
  margin-left: 10px;
  color: #fff;
}

.testimonial{
  padding: 7em 0;
  margin-bottom:50px;
}

.welcome{
 border-style:solid;
 border-color:#A47551;
 margin-right:200px;
 margin-left:200px;
 margin-bottom:10px;
 border-radius:20px;
 border-width: 50vw 50vw 0
 font-family: 'Abril Fatface', cursive;
}

.intro{
font-family: 'Padauk', sans-serif;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 33vh;
 }

.mix{
font-size:18px;
border-style:solid;
border-color: #A47551;

}

.come{
 font-family: 'Abril Fatface', cursive;
}

.head{
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 3rem;
  background: linear-gradient(to bottom, #000, #000 60%, #A47551 60%, #A47551 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}


.heading{
position: relative;
}

.heading:before {
content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: #000;
  bottom: 9px;
  transition: all 0.2s ease-out;
}
.head:hover{
 background-position: 0 11px;}

 .heading:hover:before{
 transform: translateY(10px)
 }

 .intro{
 background: #E4D4C8;
 padding:20px;
 border-radius:5px;
 }

.deals{
margin-bottom:90px;
}

.thing {

  width: 100%;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff;
  border-radius: 0.5rem;

  border-left: 0 solid #D0B49F;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.thing:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #D0B49F; ;
}

.thing > :first-child {
  margin-top: 0;
}

.thing > :last-child {
  margin-bottom: 0;
}

.standard{
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 3rem;
  background: linear-gradient(to bottom, #000, #000 60%,#D0B49F 60%,#A47551 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}

.heading{
position: relative;

}

.heading:before {
content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: #000;
  bottom: 9px;
  transition: all 0.2s ease-out;
}
.standard:hover{
 background-position: 0 11px;}

 .heading:hover:before{
 transform: translateY(10px)
 }


/* Navbar */

 .nav-wrapper{
 background:#A47551;
 max-width: 1200px;
 margin: auto;
 position: relative;
 padding: 4px 0;
 display:flex;
 justify-content: space-between;
 align-item: center;
 z-index: 40;


 }

header{
background:#A47551;
width:100%;
position:relative;

}

nav.nav-wrapper ul li {
display: inline-block;
padding: 0 5px;
margin-bottom: 0;
text-transform: uppercase;
}



nav.nav-wrapper ul li a{
font-size: 18px;
line-height: 30px;
text-decoration: none;
color: #fff;
cursor: pointer;
border-bottom: 1px solid transparent;
padding-bottom:2px;
transition:0.3s;
}

nav.nav-wrapper ul li a:hover{
border-bottom: 1px solid #fff;

}

header.sticky{
position:fixed;
top: 0;
left: 0;
right: 0;
background:#A47551;
transform: translateY(-200%);
transition: 0.2s;
 z-index: 4;
}

body.scroll header.sticky{
transform: translateY(0);
}

.main-wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;

}

.logo a{
font-size: 40px;
color: #fff;
line-height: 35px;
text-decoration: none;
text-transform: uppercase;

}

/* parallax */

ul#scene li.name{
text-align:center;
font-size:80px;
color:white;
line-height:45px;
text-transform: uppercase;
width: 100%;

}

ul#scene li.title{
text-align:center;
font-size:30px;
line-height:70px;
color:white;
width: 100%;
margin-top:50px;
}

.btn-view{
width:100%;
text-align:center;
margin-top:150px;


}

.cover-main{
 background: linear-gradient(rgba(0 , 0, 0, 0.2), rgba(0 ,0 ,0 , 0.1)), url("/static/img/massage2.jpg") 50% 0 no-repeat fixed;
 background-size:cover;
 height: 80vh;
 width:100%;

}
ul#scene{
margin-top:350px;
position:absolute;



}

.portfolio-btn{
margin:0 auto;
display:inline-block;
padding:10px 20px;
border:4px solid white;
background:transparent;
color:#fff;
text-decoration:none;
transition:0.3s;
}

.portfolio-btn:hover{
background:#fff;
color:#000;
}

footer{
position:relative;
z-index:-2;
height:150px;
background:#A47551;
color:white;
text-align:center;
}

.footer{
position:fixed;
font-size:20px;
line-height:25px;
color:#fff;
font-weight:bold;
text-align:center;
bottom:50px;
left:50%
transform: translate(-50%)
z-index:1;
}

.hello-msg{
 font-size: 18px;
 color:#fff;
 float: left;
 margin-right:20px;
 }

 .log{
  color:#000000;
  font-size: 19px;
   text-decoration:none;
}

.log a:hover{
  color:#fff;
  text-decoration:none;
}

.user{
text-align:center;
border: #fff;
 padding:8px;
 -webkit-box-shadow: 0px 5px 20px -5px rgba(3, 0, 0, 0.8);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
background:
  border-radius: 4px;


}



 /* responsive menu */


/* end responsive menu */
@media only screen and (max-width: 560px){

ul#scene li.name{
font-size:29px;
text-align:center;
line-height:20px;
}

ul#scene li.title{
font-size:20px;
text-align:center;
line-height:20px;
}
.btn-view{
width:100%;
text-align:center;
margin-top:80px; }

ul#scene{
margin-top:250px;
position:absolute;



}
}

@media only screen and (max-width: 768px){
.name{
font-size:60px;
text-align:center;
line-height:20px;
}

.title{
font-size:40px;
text-align:center;
line-height:20px;
}
.btn-view{
width:100%;
text-align:center;
margin-top:80px; }

ul#scene{
margin-top:300px;
position:absolute;



}


}
}

@media only screen and (max-width: 280px){
li.name{
font-size:20px;
text-align:center;
line-height:20px;
}

li.title{
font-size:10px;
text-align:center;
line-height:20px;
}
.btn-view{
width:100%;
text-align:center;
margin-top:80px; }

ul#scene{
margin-top:300px;
position:absolute;

}
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');



.font-1 {
	font-weight: bold;
	margin: 0;
}

.font-2 {
	text-align: center;
}

.font-3 {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}


.frm {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.am {

	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	margin-top: 120px;
	margin-bottom: 200px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 1;
}

.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(#fff,#A47551);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	z-index:1;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	z-index:1;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
	z-index:1;
}

.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


/* */
.grids {
  max-width: 136rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.card-one {
  grid-column: 1/4;
}

.card-two {
  grid-column: 1/4;
}

.card-three {
  grid-column: 1/4;
}

.card-four {
  grid-column: 1/4;
}

.card-five {
  grid-column: 1/4;
}

.cardio {
  position: relative;
  width: 100%;
  transition: all ease-in-out 400ms;
  cursor: pointer;
  margin-bottom: 150px;
}

.cardio:hover {
  transform: scale(1.05);
}

.cardio:active {
  transform: translateY(-1px);
}

.card__side {
  transition: all 0.8s ease;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  object-fit:cover;
}

.card__side--front {
  background-color: transparent;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit:cover;
}

.card__side--back {
  background-color: #303f9f;
  transform: rotateY(180deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showGreen {
  transform: rotateY(-180deg);
}

.showRed {
  transform: rotateY(0);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.text-box-top {
  font-size: 2.2rem;
  text-align: center;

  font-weight: 200;
  color:#000;
}

.text-box-middle {
  font-size: 1.25rem;
  font-weight: 300;

  color:#000;
}

.text-box-lower {
  font-size: 2rem;
  text-shadow: 2px 2px 10px #0000006c;
  font-weight: 400;
}

.heading {
  transition: all 0.6s linear;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}



@media screen and (min-width: 1024px) {


  .grids {
    max-width: 136rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }

  .card-one {
    grid-column: 1/3;
  }

  .card-two {
    grid-column: 3/4;
  }

  .card-three {
    grid-column: 1/2;
  }

  .card-four {
    grid-column: 2/2;
  }

  .card-five {
    grid-column: 3/4;
  }


.userpage {
 position: relative;
  width: 100%;
  transition: all ease-in-out 400ms;
  cursor: pointer;

}

.userpage:hover {
  transform: scale(1.05);
}

.userpage:active {
  transform: translateY(-1px);
}

.user-name{
font-size:20px;

}

#messages{
			background-color:  #d6f5d6;
			color: green;
			margin-top: 10px;
}


.back-img{
 background: linear-gradient(rgba(0 , 0, 0, 0.2), rgba(0 ,0 ,0 , 0.1)), url("/static/img/towels.jpg") 50% 0 no-repeat fixed;
 background-size:cover;
 height: 10vh;
 width: 100%;

}

.first{
font-size: 60px;
}

.second{
font-size: 50px;
}
}

/* Responsive menu navbar-toggler */


@media only screen and (max-width: 768px){

  .menu-trigger {
     background:  url("/static/img/hamburger-icon.svg") no-repeat center / cover;
     width: 35px;
     height: 35px;
     display: block;
     z-index: 54;
     right: 10px;
     position: absolute;
     top: 8px;
 }

 .main-overlay {

    position: absolute;
    top: 0;
    display: none;
    right: 0;
    left: 0;
    bottom: 0;
    background:
    z-index: 45;
 }

 .main-overlay::after {

    background: url("/static/img/close-icon.svg") no-repeat center / cover;;
    width: 35px;
    height: 35px;
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;

 }

 .nav-wrapper {
 position :sticky;
 max-width: 1200px;
 margin: auto;
 padding: 4px 0;
 display:flex;
 justify-content: space-between;
 align-item: center;
 }


 .menu {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 background: #A47551;
 width: 100%;
 max-width: 300px;
 z-index: 35;
 transform: translate3d(-100%, 0, 0);
 border-radius:10px;
 -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
 }

 nav.nav-wrapper ul li{
 display: block;
 margin-top: 20px;
 padding:0;
 padding-bottom:20px;
 }

 nav.nav-wrapper ul li a{
 font-size:18px;
 line-height:40px;
 margin-top:150px;

 }

 nav.nav-wrapper ul li a:hover{
 border-color: transparent;

 }

 body.menu-is-active .menu {
 transform: translate3d(0,0,0);
 display: block;
 padding:0 15px;
 }

 body.menu-is-active .main-overlay{
 display:block;

 }

 body.menu-is-active .menu-trigger{
 display:none;

 }

 .user{
 border: #fff;
 padding:15px;
 -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

 }

}

.menu{


}



