.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 33vh;
 }

.card{
 transition: width 2s, height 4s;
}

.carousel-caption{
    font-family: 'Hammersmith One';
    text-shadow: 40px;
}

.one{
  color:#4267B2;
}

.two{
  color:#FF0000;

}

.three{
  color: #00acee;
}


.four{
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.black-text{
   font-family:'Fredoka One';

}

.dropdown-item:hover{
 background-color:#66b3ff;

}

.footer{
 padding: 30px;

}

.nav-link{
   margin-left:120px;
   font-size:30px;
   text-align:center;
   color:#000000;
   padding:50px;
}

.dp{
   margin-left:120px;
   font-size:30px;
   color:#000000;
}


.nav-link{
 color:#000000;
}

.nav-link:hover{
 color: #333333;
 transform: scaleX(1.2);
 transform: scaleY(1.2);
}



.head{
 font-size:30px;

}

.Jumbotron{
object-fit:cover;
}


.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}


.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}



.star{
color:#ffcc00;
}



.carousel-multi-item.v-2.product-carousel .carousel-inner .carousel-item.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%); }

.carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%); }

.carousel-multi-item.v-2.product-carousel .carousel-item-right,
.carousel-multi-item.v-2.product-carousel .carousel-item-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.carousel-multi-item.v-2.product-carousel *, .carousel-multi-item.v-2.product-carousel ::after, .carousel-multi-item.v-2.product-carousel ::before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }


.places{
 font-family:'Hammersmith One';
 margin:10px;
 font-size: 40px;

}

.btn-floating{
color:#000000;
}
.btn-floating:hover{
  color:
}

.hov{
margin-bottom:40px;}

.hov:hover{
 transform: translate(-20px, -20px);
 border-color: $highlight;
	        }


.underbar{
text-decoration: underline;
}

.underbar:hover {
   animation: bounce 2.5s infinite; //other browsers
   -webkit-animation: bounce 2.5s infinite; //webkit browsers
   -moz-animation: bounce 2.5s infinite; //firefox
   -o-animation: bounce 2.5s infinite; //opera
}

@-webkit-keyframes bounce {
    0%,
    100% {
       -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@-moz-keyframes bounce {
    0%,
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-10px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }

}





