{% extends 'base.html' %}

{% block book %}
{% load static %}

<div id="booking">

    <div class="container">

        <div class="booking-form ">
            <div class="row">
                <div class="col-sm-6 ">

                    <div class="d-flex justify-content-center"><h2>Book Appointment</h2></div>
                        <hr>

                    <form class="form" action="" method="POST">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="input form-group">
                                    <p><label class="form-label">Email Address:{{ book.email }}</label></p>
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="input form-group">
                                    <p><label class="form-label">Cellphone Number:{{ book.phone }}</label></p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input form-group">
                                    <p>Booking Date: <input id="datepicker" name='booking_date' type="text"></p>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <p><label class="form-label">Package: {{ book.packages }}</label></p>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <p><label class="form-label">People: {{ book.people }}</label></p>
                                </div>
                            </div>

                        </div>
                        <div>
                            <input class="btn btn-sm" type="submit"/>
                        </div>
                        {% for message in messages %}
                        <p id="messages">{{message}}</p>
                        {% endfor %}

                    </form>

                </div>

                <div class="col-sm-6">
                    <div class="booking">
                        <img class="booking" src="{% static 'img/towels.jpg' %}" width="100%"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    <script>

		//Query All input fields
		var book_fields = document.getElementsByTagName('input')
		book_fields[1].placeholder='Enter email';
		book_fields[2].placeholder='Enter number';
		book_fields[3].placeholder='YY/MM/DD';


		for (var field in book_fields){
			book_fields[field].className += ' form-control'
		}

</script>
<script>

  $( function() {
    $( "#datepicker" ).datepicker();
  } );

</script>

</body>

{% endblock book %}

