{% extends 'base.html' %}

{% block user %}
<div class="container mt-5">
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer: {{ customer.name }}</h5>
            <hr>
            <a class="btn btn-sm btn-outline-info mb-3" href="{% url 'update_customer' customer.id %}">Update Customer</a>

        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact information:</h5>
            <hr>
            <p>Email:  {{ user.email }}</p>
            <p>Phone:  {{ user.phone }}</p>

        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Total Bookings</h5>
            <h3 class="card-title">{{ appointment.count }}</h3>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md">
            <div class="card card-body mt-4">
                <div class="table-responsive">
                <table class="table table-light table-hover">
                    <tr>
                        <th>Booking</th>
                        <th>Status</th>
                        <!--
                        <th>Update</th>
                        <th>Remove</th>
                        --->
                    </tr>

                    {% for appointment in appointment %}
                    <tr>
                        <td>{{ appointment.booking.booking_date }}</td>
                        <td>{{ appointment.status }}</td>
                        <!---
                    <td>  <a class="btn btn-sm btn-info" href="{% url 'update_booking' appointment.id %}">Update</a></td>
              <td>  <a class="btn btn-sm btn-danger"  href="{% url 'delete_booking' appointment.id %}">Remove</a></td>
              -->
                    </tr>
                    {% endfor %}

                </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock user %}