{% extends 'base.html' %}

{% block dash %}

<body class="grey lighten-3">

  <!--Main Navigation-->
  <main class="pt-5 mx-lg-5">

    <div class="container-fluid mt-5">

      <div class="card mb-4 wow fadeIn">
        <div class="card-body d-sm-flex justify-content-between">
          <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="" target="_blank">Home Page</a>
            <span>/</span>
            <span>Dashboard</span>
          </h4>
        </div>
      </div>


      <div class="row wow fadeIn">

        <div class="col-md-3 mb-4">
          <div class="card mb-4">
            <div class="bg-info text-white card-header text-center">
              Pending

            </div>
            <div class="card-body">
                <h3 class="card-title">{{pending}}</h3>

            </div>
          </div>
        </div>


        <div class="col-md-3 mb-4">
          <div class="card mb-4">
            <div class="bg-success text-white card-header text-center">
              Attended

            </div>
            <div class="card-body">
              <h3 class="card-title">{{attended}}</h3>

            </div>
          </div>
        </div>


        <div class="col-md-3 mb-4">
          <div class="card mb-4">
            <div class="bg-warning text-white  card-header text-center">
              Missed

            </div>
            <div class="card-body">
                <h3 class="card-title">{{missed}}</h3>

            </div>
          </div>
        </div>


        <div class="col-md-3 mb-4">
          <div class="card mb-4">
            <div class= "card-header bg-danger text-center text-white">
              Cancelled

            </div>
            <div class="card-body">
                <h3 class="card-title">{{cancelled}}</h3>

            </div>
          </div>





        </div>
      </div>

      <h1>Bookings</h1>
        <div class="col-md-12">
          <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block mb-4" href="/resort/booking">Create Booking</a>
            <div class="table-responsive">
          <table class="table table-light table-hover table-sm">
            <thead class="blue-grey lighten-4">
            <tr>
              <th></th>
              <th>Name</th>
              <th>Surname</th>
              <th>Booking Date</th>
              <th>Created</th>
               <th>People</th>
               <th>Package</th>
               <th>Amount</th>
              <th>Update</th>
              <th>Remove</th>
            </tr>
             </thead>

            {% for bookings in bookings %}
            <tbody>
            <tr>
              <th scope="row"></th>
              <td>{{ bookings.name }}</td>
              <td>{{ bookings.surname }}</td>
              <td>{{ bookings.booking_date }}</td>
              <td>{{ bookings.created }}</td>
              <td>{{ bookings.people }}</td>
              <td>{{ bookings.packages }}</td>
              <td>{{ bookings.amount }}</td>
              <td><a class="btn btn-sm btn-primary" href="#">Update</a></td>
               <td><a class="btn btn-sm btn-danger"  href="#">Remove</a></td>
            </tr>
            </tbody>
            {% endfor %}


          </table>
            </div>
        </div>
      </div>


      <h1>Customer</h1>

           <div class="col-md-12">
          <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block mb-4" href="#">Create Customer</a>
            <div class="table-responsive">
          <table class="table table-light table-hover">
            <thead class="blue-grey lighten-4">
            <tr>
              <th></th>
              <th>Name</th>
              <th>Surname</th>
              <th>Email Address</th>
              <th>Update</th>
              <th>Remove</th>
            </tr>
             </thead>

            {% for customer in customer %}

            <tr>
              <td><a class="btn btn-sm btn-primary" href="{% url 'customer' customer.id %}">View</a></td>
              <td>{{ customer.name }}</td>
               <td>{{ customer.surname }}</td>
               <td>{{ customer.email  }}</td>
              <td><a class="btn btn-sm btn-primary" href="#">Update</a></td>
               <td><a class="btn btn-sm btn-danger" href="#">Remove</a></td>
            </tr>

            {% endfor %}

          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
  </main>

</body>

{% endblock dash %}
