{% extends 'base.html' %}

{% block main %}
<div>
{% load static %}<img src="{% static 'img/spa-main.png'%}" width="100%"/>



<div class="head d-flex justify-content-center mt-3">
    <h1>Welcome to M & N Spa</h1>
</div>

<div class="container intro mb-3">
    <p >M & N Spa, located at various locations is a brand-new, upscale day spa focusing on providing high-quality,
        full-service beauty care to the surrounding community. Our product and service lines fit nicely with the prevailing tastes and preferences of the local area –
        middle class suburbanites want quality beauty care, but don’t want to pay luxury prices for it.
        Our Spa will provide beauty services for all ages and both genders. Services will include massage, facials,and hair removal (waxing and threading).
        All manner of special treatments will be available—including specialty massages and facial treatments. In addition to providing these services, M & N spa will also be a retailer of exclusive beauty care products.
        Customers will find products at M & N that they won’t find in grocery stores.
    </p>
</div>
    <div class="packages head d-flex justify-content-center mt-3"><h1>Standard Packages</h1></div>
<div class=" ">
  <div class="cd container-fluid ">
    <div class="row">
      <div class="card col-lg-4 col-md-12">
        <div class="face face1">
          <div class="content">
            <div class="icon">
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h1 class="text-center">Full Day Spa</h1>
            <h3>
              R1,450.00 – R1,649.00 <small class="text-muted">/ pp</small>
            </h3>
            <div class="d-flex justify-content-between">
              <a href="/resort/booking" class="btn btn-md btn-outline na">Book Now</a>
              <a href="/resort/packages" class="btn btn-md btn-outline btn-light">View Details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card col-lg-4 col-md-6">
        <div class="face face1">
          <div class="content">
            <div class="icon">

            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h1 class="text-center">Half Day Spa</h1>
            <h3>
              R999.00 – R1,199.00 <small class="text-muted">/ pp</small>
            </h3>
            <div class="d-flex justify-content-between">
              <a href="/resort/booking" class="btn btn-md btn-outline ba">Book Now</a>
              <a href="/resort/packages" class="btn btn-md btn-outline btn-light">View Details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card col-lg-4 col-md-6">
        <div class="face face1">
          <div class="content">
            <div class="icon">
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h1 class="text-center">Moonlight Spa</h1>
            <h3>
              R1,200.00 – R1,450.00 <small class="text-muted">/ pp</small>
            </h3>
            <div class="d-flex justify-content-between">
              <a href="/resort/booking" class=" la btn btn-md btn-outline ">Book Now</a>
              <a href="/resort/packages" class="btn btn-md btn-outline btn-light">View Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




    <div class="testimonial">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>WE PERSONALIZE TREATMENTS</h2>
                        <p>to make a positive impact in your life.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="testimony">
                        <div class="card card-body">
                        <h3>Personalized Facials</h3>
						<p>
							No two faces are alike. We get to know you and your skin to tailor the right treatment to help you reach your skincare goals.
						</p>
                            </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="testimony">
                        <div class="card card-body">
                        <h3>Curated Products</h3>
						<p>
							What you use matters. Ingredients are at the core of skincare, so we educate you and recommend you the best products.
						</p>
						</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimony">
                        <div class="card card-body">
                            <h3>Body & Skincare Treatments</h3>
                            <p>
                                We’re a team of Licensed Estheticians who can’t wait to share what we know. We offer
                                expert advice for every skin type.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container mt-4">
    <div class="row">

        <div class="col-lg-4 col-md-12 mb-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/pix3.jpg' %}"/>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-3">
            <div class="mix card card-body">
                <h1>We specialize in</h1>
                <p>Body treatments care for the skin of the whole body! Whether you're looking to slough your skin to perfection, or tone & detoxify your whole body, we've got a treatment for you.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus nibh eget justo dictum pharetra. Sed nunc metus, auctor a commodo non, feugiat in nibh. </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-3">
            <div class="card ">
               <img class="card-img-top" src="{% static 'img/pix4.jpg' %}"/>
            </div>
        </div>
    </div>
    </div>
</div>
</div>


</body>
{% endblock main %}