{% extends 'base.html' %}

{% block main %}
<div>
{% load static %}<img src="{% static 'img/spa-main.png'%}" width="100%"/>



<div class="d-flex justify-content-center mt-3 welcome">
    <h1>Welcome to M & N Spa</h1>
</div>

<div class="container intro ">
    <p >M & N Spa, located at various locations is a brand-new, upscale day spa focusing on providing high-quality,
        full-service beauty care to the surrounding community. Our product and service lines fit nicely with the prevailing tastes and preferences of the local area –
        middle class suburbanites want quality beauty care, but don’t want to pay luxury prices for it.
        Our Spa will provide beauty services for all ages and both genders. Services will include massage, facials,and hair removal (waxing and threading).
        All manner of special treatments will be available—including specialty massages and facial treatments. In addition to providing these services, M & N spa will also be a retailer of exclusive beauty care products.
        Customers will find products at M & N that they won’t find in grocery stores.
    </p>
</div>
<div class="testimonial">
    <div class=""></div>
</div>


<div class="container">
<div class="he row">
<div class="box gallery mb-3">
	<div class="card">
    <div class="background">
    <img class="image" src="{% static 'img/leaves.jpg'%}" width="100%" />
    </div>
    <a href="#" class="overlay">
    </a>
    <a class="thumb" href="#">
      <div class="info">
        <h2>
          <a href="#">
          </a>
        </h2>
        <div class="foot">
          <i class="line"></i>
          <span class="date"></span>
          <a href="#" target="_blank" class="social">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" target="_blank" class="social">
					<i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      </div>
</div>
<div class="box gallery mb-3">
	<div class="card mb-3">
    <div class="background">
       <img class="image" src="{% static 'img/tea.jpg'%}" />
    </div>
    <a href="#" class="overlay">
    </a>
    <a href="#">
      <i class="fa fa-camera-retro"></i>
    </a>
    <a class="thumb" href="#">
      <div class="info">
        <h2>
          <a href="#">
          </a>
        </h2>
        <div class="foot">
          <i class="line"></i>
          <span class="date"></span>
          <a href="#" target="_blank" class="social">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" target="_blank" class="social">
					<i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      </div>
</div>
<div class="box gallery mb-3">
	<div class="card mb-3">
    <div class="background">
      <img class="image" src="{% static 'img/green.jpg'%}" />
    </div>
    <a href="#" class="overlay">
    </a>
    <a href="#">
      <i class="fa fa-camera-retro"></i>
    </a>
        <a class="thumb" href="#"></a>
      <div class="info">
        <h2>
          <a href="#">
          </a>
        </h2>
        <div class="foot">
          <i class="line"></i>
          <span class="date"></span>
          <a href="#" target="_blank" class="social">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" target="_blank" class="social">
					<i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      </div>
</div>
</div>
</div>
    <div class="testimonial">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>WE PERSONALIZE SKINCARE</h2>
                        <p>to make a positive impact in people's lives.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="testimony">
                        <div class="card card-body">
                        <h3>Personalized Facials</h3>
						<p>
							No two faces are alike. We get to know you and your skin to tailor the right treatment to help you reach your skincare goals.
						</p>
                            </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="testimony">
                        <div class="card card-body">
                        <h3>Curated Products</h3>
						<p>
							What you use matters. Ingredients are at the core of skincare, so we educate you and recommend you the best products.
						</p>
						</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimony">
                        <div class="card card-body">
                            <h3>Skincare is our obsession</h3>
                            <p>
                                We’re a team of Licensed Estheticians who can’t wait to share what we know. We offer
                                expert advice for every skin type.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container mt-4">
    <div class="row">

        <div class="col-lg-4 col-md-12 mb-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/pix3.jpg' %}"/>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-3">
            <div class="mix card card-body">
                <h1>We specialize in</h1>
                <p>Body treatments care for the skin of the whole body! Whether you're looking to slough your skin to perfection, or tone & detoxify your whole body, we've got a treatment for you.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus nibh eget justo dictum pharetra. Sed nunc metus, auctor a commodo non, feugiat in nibh. </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-3">
            <div class="card ">
               <img class="card-img-top" src="{% static 'img/pix4.jpg' %}"/>
            </div>
        </div>

    </div>
</div>



</body>
{% endblock main %}