{% extends 'base.html' %}

{% block packages %}
<body>
<div class="packages d-flex justify-content-center mt-3 welcome"><h1>Standard Packages</h1></div>
<div class="" >
    <div class="cd container">
      <div class="row">
      <div class="card col-lg-4 col-md-12">
        <div class="face face1">
          <div class="content">
            <div class="icon">
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h1 class="text-center">Full Day Spa</h1>
            <h3>
              R1,450.00 – R1,649.00 <small class="text-muted">/ pp</small>
            </h3>

            <a href="/resort/booking" class="btn btn-md btn-outline na">Book Now</a>

          </div>
        </div>
      </div>
      <div class="card col-lg-4 col-md-6">
        <div class="face face1">
          <div class="content">
            <div class="icon">

            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h1 class="text-center">Half Day Spa</h1>
            <h3>
              R999.00 – R1,199.00 <small class="text-muted">/ pp</small>
            </h3>
            <a href="/resort/booking" class="btn btn-md btn-outline ba">Book Now</a>

          </div>
        </div>
      </div>
      <div class="card col-lg-4 col-md-6">
        <div class="face face1">
          <div class="content">
            <div class="icon">
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h1 class="text-center">Moonlight Spa</h1>
            <h3>
              R1,200.00 – R1,450.00 <small class="text-muted">/ pp</small>
            </h3>
            <a href="/resort/booking" class=" la btn btn-md btn-outline ">Book Now</a>

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock packages %}