{% extends 'base.html' %}

{% block userpage %}
<head>
    <style>

        .container{
        margin-bottom:350px;
        }
    </style>
</head>
<div>

<div class="container mt-5">
<div class="row">
    <div class="col-md">
         <h2 class="head">User Profile:</h2>
        <div class=" userpage card card-body">
            <h5 class="user-name">Welcome {{ request.user }}!</h5>
        </div>
    </div>

    <div class="col-md">
        <div class=" userpage card card-body">
            <h5>Total Bookings</h5>
            <hr>
            <h3 class="card-title"></h3>
            {{ total_bookings }}
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md">
            <div class="userpage card card-body mt-4 mb-5">
                <div class="table-responsive">
                <table class="table table-light table-hover">
                    <tr>
                        <th>Booking</th>
                        <th>Package</th>
                        <th>Status</th>
                         <th>Update</th>
                        <th>Remove</th>


                    </tr>

                    {% for appointment in appointment %}
                    <tr>

                        <td>{{ appointment.booking.booking_date }}</td>
                         <td>{{ appointment.booking.packages }}</td>
                        <td>{{ appointment.status }}</td>
                        <td><a class="btn btn-sm btn-outline-success" href="{% url 'update_user' appointment.id  %}">Update</a>
                        </td>

                        <td><a type="button"  class="btn btn-sm btn-danger li-modal" href="{% url 'delete_user' appointment.id  %}">Remove</a>
                        </td>

                    </tr>
                    {% endfor %}

                </table>
                </div>
            </div>
        </div>
    </div>



</div>



<script>

var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script>






{% endblock userpage %}

