{% extends 'base.html' %}

{% block verify %}
<body>
<div class="container mt-5">
    <div class="card" style="padding:10px;">
    <h1>Thank you {{ request.user }} for booking with M & N spa, a verification code has been sent to your number</h1>

</div>
</div>
<div>
    <ul class="nav navbar-nav" id="menu">
    <li><a href="/emplookup.html">Lookup</a>
    </li>
    <li><a href="/modalexample.html">Modals</a>
    </li>
    <li><a href="{% url 'email' %}" class='li-modal'>Lab 6</a>
    </li>
  </ul>
  <div id="theModal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  <script>
    $('.li-modal').on('click', function(e){
      e.preventDefault();
      $('#theModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
  </script>


</div>
{% endblock verify %}