{% extends 'base.html' %}

{% block rooms %}
<body>

<div class="container">
	<div class="row">

			<div class="feature-full-2col card-columns">


				<div class="f-hotel">
					{% for room in room %}
					<div class="card ml-3">
					<div class="image" style="background-image: url(images/hotel_feture_3.jpg);">
						<div class="descrip text-center">
							<p><small>For as low as</small><span>$99/night</span></p>
						</div>
					</div>
					<div class="desc">

						<h3>{{ room.room_category}}</h3>
						<p>{{ room.description }}</p>
						<h4>Beds:</h4>
						<p>{{room.beds}}</p>
						<p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a>
						</p>
					</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row">

			<div class="feature-full-2col">
				<div class="f-hotel">
					<div class="card">
					<div class="image" style="background-image: url(images/hotel_feture_2.jpg);">
						<div class="descrip text-center">
							<p><small>For as low as</small><span>$99/night</span></p>
						</div>
					</div>
					<div class="desc">
						<h3>Hotel Bora</h3>
						<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas.
							Etiam euismod tempor leo,
							in suscipit urna condimentum sed. </p>
						<p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a>
						</p>
					</div>
					</div>
				</div>
				<div class="f-hotel">
					<div class="card ml-3">
					<div class="image" style="background-image: url(images/hotel_feture_3.jpg);">
						<div class="descrip text-center">
							<p><small>For as low as</small><span>$99/night</span></p>
						</div>
					</div>
					<div class="desc">
						<h3>D’Morvie</h3>
						<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas.
							Etiam euismod tempor leo, in suscipit urna condimentum sed. </p>
						<p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a>
						</p>
					</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="feature-full-2col">
				<div class="f-hotel">
					<div class="card">
					<div class="image" style="background-image: url(images/hotel_feture_2.jpg);">
						<div class="descrip text-center">
							<p><small>For as low as</small><span>$99/night</span></p>
						</div>
					</div>
					<div class="desc">
						<h3>Hotel Bora</h3>
						<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas.
							Etiam euismod tempor leo,
							in suscipit urna condimentum sed. </p>
						<p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a>
						</p>
					</div>
					</div>
				</div>
				<div class="f-hotel">
					<div class="card ml-3">
					<div class="image" style="background-image: url(images/hotel_feture_3.jpg);">
						<div class="descrip text-center">
							<p><small>For as low as</small><span>$99/night</span></p>
						</div>
					</div>
					<div class="desc">
						<h3>D’Morvie</h3>
						<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas.
							Etiam euismod tempor leo, in suscipit urna condimentum sed. </p>
						<p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a>
						</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

	</div>
</body>

{% endblock rooms %}