<head>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>

<div id="pricing" class="section">
  <div class="section-center">

<div  class="container-fluid mt-5 d-flex justify-content-center">
  <div class="card-deck mb-3 text-center">

    <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
    <div class="first card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Full Day Spa</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R1,450.00 – R1,649.00 <small class="text-muted">/ pp</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>– Traditional full-body massage with hot stones and a choice of three 100% natural aromatic oils – calming, revitalizing and nurturing</li>
          <li>– Relaxing pressure point facial</li>
          <li>– Spa body exfoliation treatment</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Book Now</button>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Half-Day Spa</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R999.00 – R1,199.00 <small class="text-muted">/ pp</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>– iZimanga. Full body massage with hot stones and a choice of three 100% natural aromatic oils</li>
          <li>– Molala. Royal African Head Neck and Shoulder treatment with a selection of three 100% natural aromatic oils – calming, revitalizing and nurturing</li>
          <li></li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Book Now</button>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">MOONLIGHT NIGHT SPA</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R999.00 PP – R1,199.00 <small class="text-muted">/ pp</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>– Full body massage with hot stones and a choice of three 100% natural aromatic oils – calming, revitalizing, and nurturing</li>
          <li>– Royal African Head Neck and Shoulder treatment with a selection of three 100% natural aromatic oils – calming, revitalizing, and nurturing</li>
          <li></li>
          <li></li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Book Now</button>
      </div>
    </div>

  </div>
  </div>
  </div>
</div>



<div class="sketchy container d-flex flex-nowrap ">
<div class="order-1 mt-3 mr-3">
   <h1>Services</h1>
    We plan to offer the following services in M & N Spa
    <ul>
        <li>Wellness</li>
        <li>Massage</li>
        <li>Hot Stone Massage</li>
        <li>Wellness</li>
        <li>Wellness</li>
        <li>ellness</li>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate distinctio dolore error est, exercitationem id illo, ipsam laboriosam laudantium obcaecati praesentium qui quod sint suscipit tenetur totam ut, veniam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut autem deleniti dolor, dolores eius, inventore, ipsam ipsum laborum neque nobis quae qui quibusdam quisquam recusandae tempore velit voluptas voluptate?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae consequatur enim illo laboriosam minima, molestias necessitatibus provident quas quia quo reiciendis repellat voluptas. Deleniti doloremque odit quidem quis repellat.


    </ul>
</div>
<div class="order-2 mb-2 mt-3">
    <img class="card-img-top" src="{% static 'img/mask.jpg'%}" />

</div>
</div>
<div class="sketchy container d-flex flex-nowrap ">
<div class="order-2 mb-2 mt-3">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias dicta dolore doloremque ea fugit inventore, ipsam iste libero molestias natus non quas quod repudiandae saepe suscipit ut vel?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, culpa deleniti, deserunt excepturi ipsam, maiores nemo nisi pariatur quas tempora ullam unde voluptate voluptatem. Aperiam esse maxime minima praesentium tempore.
</div>
<div class="order-1 mb-2 mr-3 mt-3">
    <img class="card-img-top" src="{% static 'img/outside-chill.jpg'%}" />

</div>
</div>
<div class="sketchy container d-flex flex-nowrap ">
<div class="order-1 mr-3 mt-3">
   inventore, ipsam iste libero molestias natus non quas quod repudiandae saepe suscipit ut vel?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, culpa deleniti, deserunt excepturi ipsam, maiores nemo nisi pariatur quas tempora ullam unde voluptate voluptatem. Aperiam esse maxime minima praesentium tempore.
</div>
<div class="order-2 mb-2 mt-3">
    <img class="card-img-top" src="{% static 'img/flowers.jpg'%}" />

</div>
</div>


<div class="row-jumbotron">
  {% load static %}<img />
</div>



<div id="booking" class="tp">

			<div class="container-fluid" >
				<div class="row mt-5">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1></h1>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
							<form>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Name</span>
											<input class="form-control" type="text" placeholder="Name">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Surname</span>
											<input class="form-control" type="text" placeholder="Surname">
										</div>
									</div>
								</div>
								<div class="form-group">
									<span class="form-label">Email Address</span>
									<input class="form-control" type="text" placeholder="Enter Email Address">
								</div>
								<div class="form-group">
									<span class="form-label">Confirm Email Address</span>
									<input class="form-control" type="text" placeholder="Confirm Email Address">
								</div>
								<div class="form-group">
									<span class="form-label">Cellphone Number</span>
									<input class="form-control" type="text" placeholder="Enter Cellphone Number">
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Time in</span>
											<input class="form-control" type="date" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Time Out</span>
											<input class="form-control" type="date" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Package</span>
											<select class="form-control">
												<option>Full Day Spa</option>
												<option>Half-Day Spa</option>
												<option>MOONLIGHT NIGHT SPA</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">People</span>
											<select class="form-control">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
												<option>8</option>
												<option>9</option>
												<option>10</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
								</div>
								<div class="form-btn">
									<button class="submit-btn btn-info">Book Now</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>








<div id="contact">
<div class="container">
<h1 class="name">Contact Us?</h1>
<div class="contact">
	<form>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<span class="form-label">Name</span>
					<input class="form-control" type="text" placeholder="Name">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<span class="form-label">Surname</span>
					<input class="form-control" type="text" placeholder="Surname">
				</div>
			</div>
		</div>
		<div class="form-group">
			<span class="form-label">Email Address</span>
			<input class="form-control" type="text" placeholder="Enter Email Address">
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Enter Message </label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
		<button type="submit" class="btn btn-primary mb-2">Submit</button>
	</form>
</div>
</div>

</div>




 name = forms.CharField(label='Enter Name')
    surname = forms.CharField(label='Enter Surname')
    email = forms.EmailField(label='E-Mail Address')
    confirm_email = forms.EmailField(label='Confirm E-Mail Address')
    packages = forms.ChoiceField(choices=[('full day spa', 'Full Day Spa'),
                                          ('half day spa', 'Half Day Spa'),
                                          ('moonlight spa', 'Moonlight Spa')])
    people = forms.ChoiceField(choices=[('one', '1'),
                                        ('two', '2'),
                                        ('three', '3'),
                                        ('four', '4'),
                                        ('five', '5'),
                                        ('six', '6'),
                                        ('seven', '7'),
                                        ('eight', '8'),
                                        ('nine', '9'),
                                        ('ten', '10'),
                                        ])




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.am{
    margin-left: 5%;
    margin-right: 5%;
}


/* Navbar section */




.nav{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;

}

.nav div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #000000;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: #ffffff;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #000000;
    line-height: 65px;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: #ffffff;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #000000;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #000000;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home{
    width: 100%;
    height: 100vh;
    background-color:#000000;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .container{
        margin: 0;
    }

}




@media screen and (max-width:768px) {

    .container{
        margin: 0;
    }

    .nav div.logo{
        margin-left: 15px;
    }

    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }

    .nav div.show_list{
        height: 200px;
    }

    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }

    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:#ffffff;
    }

     .nav div.main_list ul li:hover{
        background-color:ffff4d;
    }


    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }

    .nav div.media_button{
        display: block;
    }
}


<nav class="nav fixed-top">
    <div class="am container">
        <div class="logo">
            <a href="#">M & N</a>
        </div>
        <div class="main_list " id="mainListDiv">
            <ul>
                <li><a href="/travel/">Home</a></li>
                <li><a href="/travel/packages">Packages</a></li>
                <li><a href="/travel/book">Book Now</a></li>
                <li><a href="/travel/contact">contact</a></li>
                <li><a href="/travel/login">Login</a></li>

            </ul>
        </div>
        <div class="media_button">
            <button class="main_media_button" id="mediaButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>



  <div class="login-box">
    <div class="lb-header">
      <a href="#" class="active" id="login-box-link">Login</a>
      <a href="#" id="signup-box-link">Sign Up</a>
    </div>
    <div class="social-login">
      <a href="#">
        <i class="fa fa-facebook fa-lg"></i>
        Login in with facebook
      </a>
      <a href="#">
        <i class="fa fa-google-plus fa-lg"></i>
        log in with Google
      </a>
    </div>
    <form class="email-login">
      <div class="u-form-group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <button>Log in</button>
      </div>
      <div class="u-form-group">
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
    </form>
    <form class="email-signup">
      <div class="u-form-group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Confirm Password"/>
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>
    </form>
  </div>
 </div>
</div>