{% extends 'base.html' %}

{% block content %}
<body>
<div class="main-pic">
    {% load static %}<img src="{% static 'img/spa-main.png'%}" width="100%"/>
</div>
<div class="d-flex justify-content-center">
    <h1>Welcome to M & N Spa</h1>
</div>

<div class="container">
    <p>M & N Spa, located at various locations is a brand-new, upscale day spa focusing on providing high-quality,
        full-service beauty care to the surrounding community. Our product and service lines fit nicely with the prevailing tastes and preferences of the local area –
        middle class suburbanites want quality beauty care, but don’t want to pay luxury prices for it.
        Our Spa will provide beauty services for all ages and both genders. Services will include massage, facials,and hair removal (waxing and threading).
        All manner of special treatments will be available—including specialty massages and facial treatments. In addition to providing these services, M & N spa will also be a retailer of exclusive beauty care products.
        Customers will find products at M & N that they won’t find in grocery stores.
    </p>
</div>
<div class="he row">
<div class="box gallery mb-3">
	<div class="card">
    <div class="background">
    <img class="image" src="{% static 'img/leaves.jpg'%}" width="100%" />
    </div>
    <a href="#" class="overlay">
    </a>
    <a class="thumb" href="#">
      <div class="info">
        <h2>
          <a href="#">
          </a>
        </h2>
        <div class="foot">
          <i class="line"></i>
          <span class="date"></span>
          <a href="#" target="_blank" class="social">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" target="_blank" class="social">
					<i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      </div>
</div>
<div class="box gallery mb-3">
	<div class="card mb-3">
    <div class="background">
       <img class="image" src="{% static 'img/tea.jpg'%}" />
    </div>
    <a href="#" class="overlay">
    </a>
    <a href="#">
      <i class="fa fa-camera-retro"></i>
    </a>
    <a class="thumb" href="#">
      <div class="info">
        <h2>
          <a href="#">
          </a>
        </h2>
        <div class="foot">
          <i class="line"></i>
          <span class="date"></span>
          <a href="#" target="_blank" class="social">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" target="_blank" class="social">
					<i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      </div>
</div>
<div class="box gallery mb-3">
	<div class="card mb-3">
    <div class="background">
      <img class="image" src="{% static 'img/green.jpg'%}" />
    </div>
    <a href="#" class="overlay">
    </a>
    <a href="#">
      <i class="fa fa-camera-retro"></i>
    </a>
        <a class="thumb" href="#"></a>
      <div class="info">
        <h2>
          <a href="#">
          </a>
        </h2>
        <div class="foot">
          <i class="line"></i>
          <span class="date"></span>
          <a href="#" target="_blank" class="social">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" target="_blank" class="social">
					<i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      </div>
</div>
</div>

</div>


</body>
{% endblock content %}


<!--- style="width: 18rem;" -->