{% extends 'base.html' %}

{% block clothes %}

<div class="container row mb-4 wow fadeIn ">
    <div class="mb-4">
        <div class="card order-3">
            <div class="view overlay"></div>
            <img src="{{ goods.clothes }}" class="card-img-top" alt="#">
            <div class="rounded-top">
            </div>

            <div class="card-body">
                <h4 class="card-title"></h4>
            </div>
        </div>
    </div>
</div>

{% endblock clothes %}